{% extends "base.html" %}
{% block title %}Users{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        {% if tweet_user %}
        All tweets from {{tweet_user}}
        {% else %}
        All tweets
        {% endif %}
    </div>

    <ul class="list-unstyled m-3">
        {% for tweet in tweets %}
        <li class="media mb-3">
            <img src="https://www.gravatar.com/avatar/94d093eda664addd6e450d7e9881bcad?s=32&d=identicon&r=PG"
                class="mr-3" alt="user">
            <div class="media-body">
                <h6 class="mt-0 mb-1">{{tweet[2]}}</h6>
                <p class="mb-0">{{tweet[1]}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}